variables:
- group: Infrastructure-Variables-EPAM-1
steps:
# Deploy SQL Database
- script: |
   sudo apt-get -y update
   sudo apt-get -y install git
   sudo apt-get -y install az
   sudo apt-get install -y postgresql postgresql-contrib

   git clone https://github.com/Xangliev/Devops-epam-app.git
   cd Devops-epam-app/deploy

   az login --service-principal -u $(service-principal) --password $(service-password) --tenant $(tenantId)

    # Create new database and user credentials
    PGPASSWORD=$(admin-pass) psql -h $(db-url) -U $(admin-user)@$(server-name) --file='db.sql' postgres
    # Connect to new database with user credentials and insert inital values
    PGPASSWORD='Interforaewg098!' psql -h $(db-url) -U 'api_db_user'@$(server-name) -d 'api_db' --file='db1.sql'
    
# Build Image and push to registry
- task: Docker@2
  displayName: BuildnPush
  inputs:
    # Azure Devops Connected Docker Hub Registry
    containerRegistry: $(registry-name)
    # Docker Hub Repository
    repository: $(repository-name)
    tags: latest

# Deploy to cluster (requires service connection and deployed cluster)
- task: Kubernetes@1
  displayName: 'Deploy to Cluster'
  inputs:
    kubernetesServiceEndpoint: 'aks-connect-delete'
    command: apply
    arguments: -f deploy/k8-attributes.yaml

